#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.file-input {
  display: none;
}

.tree {
  text-align: start;
  background-color: #2e2e2e;
  margin-top: 2em;
  border-radius: 8px;
}

.sub-tree {
  margin-left: 1em;
}

.leaf {
  margin-left: 1em;
}

.branch-header {
  cursor: pointer;
}

.icon-button {
  padding: 0.2em 0.4em;
}

.error-message {
  color: red;
}

.button-bar > *:not(:first-child) {
  margin-left: 1em;
}
